<?xml version='2.0' encoding='utf-8'?>
<widget id="com.nogole.godjadmin" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GoDJ Admin</name>
    <description>
        Mobile version of GoDJ for the DJs
    </description>
    <author email="jyrone.parker@gmail.com" href="http://www.godj.nogole.com">
        NOGOLE
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="res/mipmap-hdpi/ic_launcher.png"  />
</widget>
